:root {
    --white: #ffffff;
    --main-blue: #148EEB;
    --darkest-blue: #041C2F;

    --dark-blue-hover: hsl(207, 84%, 60%);

    --ff-lato: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body {
    height: 100vh;
    font-family: var(--ff-lato);
    font-size: 1rem;
    color: var(--darkest-blue);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.y-center {
    align-items: center;
}

.x-center {
    justify-content: center;
}
 
/* .text-center {
    text-align: center;
} */

/* Navbar */
nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0 1.5rem 0;
}

.nav__logo {
    width: 45px;
    height: auto;
    margin-left: 1rem;
}

.nav__list {
    gap: .5rem;
    list-style-type: none;
    margin-right: 1rem;
}

.nav__list a {
    text-decoration: none;
    color: var(--darkest-blue);
    font-weight: 700;
    font-size: 1.125rem;
    transition-duration: .4s;
}

.nav__list a:hover {
    color: var(--dark-blue-hover);
}

/* Hero section */
#hero-section {
    height: 90vh;
    background-color: var(--main-blue);
    color: var(--white);
}

.hero-section__title {
    font-size: 3rem;
    font-weight: 800;
}

.hero-section__subtitle {
    font-size: 1.8rem;
    font-weight: 400;
}

/* Skill section */
.skills-section__title {
    margin: 3rem 0 4rem 0;
    font-size: 3rem;
    font-weight: 800;
}

.skill-row, .skills-section__skills-content {
    gap: 3.5rem;
}

.skill-image {
    width: 200px;
}

.skill-text {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}