:root {
    --white: hsl(0, 0%, 100%);
    --gray: rgb(227, 225, 225);
    --black: rgb(18, 18, 18);
    --main-blue: #148EEB;
    --darkest-blue: #041C2F;
    --navbar-mobile-bg-color: #43a5ef;

    --dark-blue-hover: hsl(207, 84%, 60%);
    --navbar-mobile-bg-color-hover: #08395E;
    --btn-hover-effect: hsl(0, 4%, 93%);
    --project-card-shadow: 0px 7px 31px 1px rgba(0,0,0,0.17);
    --send-btn-shadow: 0px 8px 19px 5px rgba(0,0,0,0.10);

    --ff-lato: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-lato);
    background-color: #148EEB;
    color: var(--white);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.y-center {
    justify-content: center;
}

.title {
    font-size: 1.875rem;
    font-weight: 900;
    color: var(--white);
    text-align: center;
    transition: .5s;
}

.title:hover {
    transform: scale(1.05);
}

span {
    font-weight: 700;
}

/* 
HOMEPAGE
*/
/* Navbar */
header {
    background-color: var(--white);
    box-shadow: var(--project-card-shadow);
}

.navbar {
    height: 4rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.logo {
    width: 40px;
}

.navbar__list {
    align-items: center;
    gap: .2rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--darkest-blue);
    font-weight: 800;
}

.item__link {
    transition: .7s ease;
}

.item__link:hover {
    color: var(--navbar-mobile-bg-color-hover);
}

.navbar__hamburger {
    display: none;
    cursor: pointer;
}

.hamburger--bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 5px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: var(--main-blue);
}

/* Welcome section */
.welcome-section {
    height: 100vh;
    margin-top: -1rem;
}

.welcome-section__text {
    padding: 0 2.5rem;
}

.welcome-text__1 {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--darkest-blue);
}

.welcome-text__2 {
    font-size: 1.25rem;
    font-weight: 900;
}

.welcome-text__3 {
    font-size: 2rem;
    font-weight: 900;
}

.welcome-text__4 {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    color: var(--darkest-blue);
    margin-bottom: .9375rem;
}

.welcome-text__5 {
    font-weight: 300;
    max-width: 250px;
    margin-bottom: 2.375rem;
}

.welcome-section__btn {
    margin: 0 2.5rem;
    max-width: 200px;
    height: 40px;
    font-weight: 700;
    background: white;
    color: var(--darkest-blue);
    box-shadow: var(--send-btn-shadow);
    border-radius: 5px;
    text-align: center;
    transition: .5s;
}

.welcome-section__btn:hover {
    transform: scale(1.05);
    background-color: var(--btn-hover-effect);
}

/* About me introduction section */
.about-me-introduction {
    height: 100vh;
}

.about-me-introduction__content {
    margin-top: 2.8125rem;
    padding: 0 1.5rem;
    gap: .9375rem;
    font-size: .9375rem;
}

.content--text-2 {
    max-width: 320px;
}

.arrow-icon {
    color: var(--darkest-blue);  
    font-size: 1rem;
    border-radius: 50%;  
}

.about-me-introduction__btn {
    margin-top: 2.5rem;
    padding: .625rem .9375rem;
    font-weight: 300;
    color: var(--darkest-blue);
    text-decoration: none;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--send-btn-shadow);
}

/* Projects introduction section */
.projects-introduction {
    height: 100vh;
}

.projects-introduction__content {
    margin-top: 1.4375rem;
    margin-bottom: 1.875rem;
    padding: 0 1.5rem;
    font-size: .9375rem;
    gap: .9375rem;
}

.projects-introduction__image {
    max-width: 500px;
    width: 100%;
    padding: 0 .75rem;
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.3));
    transition: .4s ease;
    cursor: pointer;
}

.projects-introduction__image:hover {
    transform: scale(1.05);
}

.projects-introduction__btn {
    margin-top: 2.5rem;
    padding: .8125rem 1.5rem;
    font-weight: 300;
    color: var(--darkest-blue);
    text-decoration: none;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--send-btn-shadow);
}

/* Contact me introduction section */
.contact-me-introduction {
    height: 100vh;
}

.contact-me-introduction__text {
    margin-top: 5rem;
    margin-bottom: 5.625rem;
    padding: 0 1.75rem;
    font-size: .9375rem;
    text-align: center;
}

.contact-me-introduction__btn {
    margin: 2.5rem 0 9.375rem 0;
    padding: .8125rem 1.5rem;
    font-weight: 300;
    color: var(--darkest-blue);
    text-decoration: none;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--send-btn-shadow);
}

/* Footer */
footer {
    margin-bottom: 1.5625rem;
    gap: 1.25rem;
    font-weight: 400;
}

.text--link {
    color: var(--white);
}

@media (max-width: 768px) {
    /* Navbar functionality. Making sure the hamburger appears in devices < 768px.
    Also making the hamburger menu switch to the cross when active
    */
    .navbar__hamburger {
        display: block;
    }

    .navbar__hamburger.active .hamburger--bar:nth-child(2) {
        opacity: 0;
    }

    .navbar__hamburger.active .hamburger--bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar__hamburger.active .hamburger--bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Making it so the navbar appears on the side when active*/
    .navbar__list {
        position: fixed;
        right: -100%;
        top: 0px;
        height: 100vh;
        width: 70%;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        flex-direction: column;
        background-color: var(--navbar-mobile-bg-color);
        text-align: center;
        transition: .3s ease-in;
    }

    .navbar__list.active {
        right: 0;    
    }

    /* Changing the color of the text and the span when on the mobile menu */
    .list--item > a {
        color: var(--white);
        font-weight: 800;
    }

    .navbar__hamburger.active > span {
        background-color: var(--white);
    }
}