:root {
    --white: hsl(0, 0%, 100%);
    --gray: rgb(227, 225, 225);
    --black: rgb(18, 18, 18);
    --main-blue: #148EEB;
    --darkest-blue: #041C2F;

    --dark-blue-hover: hsl(207, 84%, 60%);
    --project-card-shadow: 0px 7px 31px 1px rgba(0,0,0,0.17);

    --ff-lato: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body {
    height: 100vh;
    font-family: var(--ff-lato);
    font-size: 1rem;
    color: var(--darkest-blue);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.y-center {
    align-items: center;
}

.x-center {
    justify-content: center;
}
 
/* .text-center {
    text-align: center;
} */

/* Navbar */
nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0 1.5rem 0;
}

.nav__logo {
    width: 45px;
    height: auto;
    margin-left: 1rem;
}

.nav__list {
    gap: .5rem;
    list-style-type: none;
    margin-right: 1rem;
}

.nav__list a {
    text-decoration: none;
    color: var(--darkest-blue);
    font-weight: 700;
    font-size: 1.125rem;
    transition-duration: .4s;
}

.nav__list a:hover {
    color: var(--dark-blue-hover);
}

/* Hero section */
#hero-section {
    height: 90vh;
    background-color: var(--main-blue);
    color: var(--white);
}

.hero-section__title {
    font-size: 3rem;
    font-weight: 800;
}

.hero-section__subtitle {
    font-size: 1.8rem;
    font-weight: 400;
}

/* Skill section */
.skills-section__title {
    margin: 3rem 0 4rem 0;
    font-size: 3rem;
    font-weight: 800;
}

.skill-row, .skills-section__skills-content {
    gap: 3.5rem;
}

.skill-image {
    width: 200px;
}

.skill-text {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

/* Projects section */
#projects-section {
    background-color: var(--main-blue);
    padding: 0 1rem 7rem 1rem;
}

.projects-section__title {
    margin-top: 4rem;
    padding: 3rem 0 4rem 0;
    font-size: 3rem;
    font-weight: 800;
    color: var(--white);
}

.projects-section__row-1, .projects-section__row-2 {
    gap: 3rem;
}

.row-1__project-2 {
    margin-bottom: 3rem;
}

.project-card {
    max-width: 450px;
    width: 100%;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: var(--project-card-shadow);
}

.top--image {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    border-bottom: solid 2px var(--gray);
}

.middle--title {
    margin: 1.5rem 0 1.5rem 0;
    font-size: 1.625rem;
    font-weight: 800;
    color: var(--black);
}

.middle--links {
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.github-icon {
    width: 60px;
    height: auto;
}

.go-to-icon {
    width: 60px;
    height: auto;
}

.project-1__bottom, .project-2__bottom, .project-3__bottom, .project-4__bottom {
    border-top: solid 2px var(--gray);
    width: 100%;
}

.bottom--logos {
    margin: 1rem 0 .8rem 0;
    gap: 1rem;
}

.html-icon {
    width: 30px;
    height: auto;
}

.css-icon {
    width: 30px;
    height: auto;
}

.js-icon {
    width: 35px;
    height: auto;
}