:root {
    --white: hsl(0, 0%, 100%);
    --gray: rgb(227, 225, 225);
    --black: rgb(18, 18, 18);
    --main-blue: #148EEB;
    --darkest-blue: #041C2F;
    --navbar-mobile-bg-color: #43a5ef;

    --dark-blue-hover: hsl(207, 84%, 60%);
    --navbar-mobile-bg-color-hover: #08395E;
    --btn-hover-effect: hsl(0, 4%, 93%);
    --project-card-shadow: 0px 7px 31px 1px rgba(0,0,0,0.17);
    --send-btn-shadow: 0px 5px 21px -6px rgba(0,0,0,0.5);

    --ff-lato: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-lato);
    background-color: #148EEB;
    color: var(--white);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.x-center {
    align-items: center;
}

.y-center {
    justify-content: center;
}

.title {
    font-size: 1.875rem;
    font-weight: 900;
    color: var(--white);
    text-align: center;
    transition: .5s;
}

.title:hover {
    transform: scale(1.05);
}

span {
    font-weight: 700;
}

.btn {
    font-weight: 700;
    color: var(--darkest-blue);
}

.arrow-icon {
    color: var(--darkest-blue);  
    font-size: 1rem;
    font-weight: 900;
    margin-left: .3rem; 
}

body, main {
    transition: .3s;
}

.about-me-introduction__btn, .projects-introduction__btn, .contact-me-introduction__btn, .contact__btn {
    cursor: pointer;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 10px;
}

/* 
HOMEPAGE
*/
/* Navbar */
header {
    background-color: var(--white);
    box-shadow: var(--project-card-shadow);
}

.navbar {
    height: 4rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.logo {
    width: 40px;
    transition: .4s;
}

.logo:hover {
    transform: scale(1.03);
}

.navbar__list {
    align-items: center;
    gap: .2rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--darkest-blue);
    font-weight: 800;
}

.item__link {
    transition: .7s ease;
}

.item__link:hover {
    color: var(--navbar-mobile-bg-color-hover);
}

.navbar__hamburger {
    display: none;
    cursor: pointer;
}

.hamburger--bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 5px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: var(--main-blue);
}

@media (max-width: 768px) {
    /* Navbar functionality. Making sure the hamburger appears in devices < 768px.
    Also making the hamburger menu switch to the cross when active
    */
    .navbar__hamburger {
        display: block;
        z-index: 10000;
    }

    .navbar__hamburger.active .hamburger--bar:nth-child(2) {
        opacity: 0;
    }

    .navbar__hamburger.active .hamburger--bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar__hamburger.active .hamburger--bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Making it so the navbar appears on the side when active*/
    .navbar__list {
        position: fixed;
        right: -100%;
        top: 0px;
        height: 100vh;
        width: 70%;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        flex-direction: column;
        background-color: var(--navbar-mobile-bg-color);
        z-index: 10000;
        text-align: center;
        transition: .3s ease-in;
    }

    .navbar__list.active {
        right: 0; 
    }

    body.active {
        overflow: hidden;
    }

    main.active {
        filter: blur(10px);
    }

    /* Changing the color of the text and the span when on the mobile menu */
    .list--item > a {
        color: var(--white);
        font-weight: 800;
    }

    .navbar__hamburger.active > span {
        background-color: var(--white);
    }
}

/* Welcome section */
.welcome-section {
    height: 100vh;
    margin-top: -1rem;
}

.welcome-section__text {
    padding: 0 2.5rem;
}

.welcome-text__1 {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--darkest-blue);
}

.welcome-text__2 {
    font-size: 1.25rem;
    font-weight: 900;
}

.welcome-text__3 {
    font-size: 2rem;
    font-weight: 900;
}

.welcome-text__4 {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    color: var(--darkest-blue);
    margin-bottom: .9375rem;
}

.welcome-text__5 {
    font-weight: 300;
    max-width: 250px;
    margin-bottom: 2.375rem;
}

.welcome-section__btn {
    margin: 0 2.5rem;
    max-width: 200px;
    height: 40px;
    font-weight: 700;
    background: var(--white);
    color: var(--darkest-blue);
    box-shadow: var(--send-btn-shadow);
    border-radius: 5px;
    text-align: center;
    transition: .5s;
}

.welcome-section__btn:hover {
    transform: scale(1.05);
    background-color: var(--btn-hover-effect);
}

/* About me introduction section */
.about-me-introduction {
    height: 100vh;
}

.about-me-introduction__content {
    margin-top: 2.8125rem;
    padding: 0 1.5rem;
    gap: .9375rem;
    font-size: .9375rem;
}

.content--text-2 {
    max-width: 320px;
}

.about-me-introduction__btn {
    margin-top: 2.5rem;
    padding: .625rem .9375rem;
    font-weight: 300;
    color: var(--darkest-blue);
    text-decoration: none;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--send-btn-shadow);
    transition: .4s;
}

.about-me-introduction__btn:hover {
    transform: scale(1.05);
    background-color: var(--btn-hover-effect);   
}

/* Projects introduction section */
.projects-introduction {
    height: 100vh;
}

.projects-introduction__content {
    margin-top: 2.8125rem;
    margin-bottom: 1.875rem;
    padding: 0 1.5rem;
    font-size: .9375rem;
    gap: .9375rem;
}

.projects-introduction__image {
    max-width: 500px;
    width: 100%;
    padding: 0 .75rem;
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.3));
    transition: .4s ease;
    cursor: pointer;
}

.projects-introduction__image:hover {
    transform: scale(1.05);
}

.projects-introduction__btn {
    margin-top: 2.5rem;
    padding: .8125rem 1.5rem;
    font-weight: 300;
    color: var(--darkest-blue);
    text-decoration: none;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--send-btn-shadow);
    transition: .4s;
}

.projects-introduction__btn:hover {
    transform: scale(1.05);
    background-color: var(--btn-hover-effect);   
}

/* Contact me introduction section */
.contact-me-introduction {
    height: 100vh;
}

.contact-me-introduction__text {
    margin-top: 5rem;
    margin-bottom: 5.625rem;
    padding: 0 1.75rem;
    font-size: .9375rem;
    text-align: center;
}

.contact-me-introduction__btn {
    margin: 2.5rem 0 9.375rem 0;
    padding: .8125rem 1.5rem;
    font-weight: 300;
    color: var(--darkest-blue);
    text-decoration: none;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--send-btn-shadow);
    transition: .4s;
}

.contact-me-introduction__btn:hover {
    transform: scale(1.05);
    background-color: var(--btn-hover-effect);   
}

/* Footer */
footer {
    margin-bottom: 1.5625rem;
    gap: 1.5625rem;
    font-weight: 400;
}

.footer__logos {
    gap: 5rem;
    width: 100%;
    font-size: 3rem;
}

.logos--twitter, .logos--github {
    color: var(--white);
    transition: .4s ease;
}

.logos--github:hover {
    transform: scale(1.04);
}

.logos--twitter:hover {
    transform: scale(1.04);
}

.text--link {
    color: var(--white);
}

/* 
ABOUT ME PAGE
*/
.about-me {
    height: 80vh;
}

.about-me__title {
    margin: 2.1875rem 0 1.75rem 0;
}

.about-me__title:hover {
    transform: scale(1);
}

.about-me__content {
    margin-bottom: 2.1875rem;
    padding: 0 1.5625rem;
    gap: .9375rem;
    font-size: .9375rem;
    max-width: 440px;
}

/* 
PROJECTS PAGE
*/
.projects__title {
    margin: 1.875rem 0 1.5625rem 0;
}

.projects__content {
    padding: 0 1.5625rem;
    font-size: .9375rem;
    gap: 1.5625rem;
    max-width: 370px;
}

.content--text {
    gap: .9375rem;
}

.skills__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 15px;
}

.grid--item {
    gap: .5rem;
}

.item-logo {
    font-size: 1.75rem;
}

.item-text {
    font-size: 1rem;
    font-weight: 900;
}

.projects__subtitle {
    margin: 1.875rem 0 2rem 1.5625rem;
    font-size: 1.125rem;
    font-weight: 900;
}

.project__cards {
    gap: 2rem;
    margin-bottom: 2.8125rem;
}

.card {
    margin: 0 1.25rem;
    background-color: var(--navbar-mobile-bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.top--image {
    max-width: 600px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: .4s;
    cursor: pointer;
}

.top--image:hover {
    transform: scale(1.01);
}

.card__middle {
    padding: 1.125rem 1rem 0 1rem;
}

.middle__top {
    justify-content: space-between;
}

.top--title {
    font-size: 1.125rem;
    font-weight: 900;
}

.github-link {
    font-size: 1.875rem;
    color: var(--white);
    transition: .4s;
}

.github-link:hover {
    transform: scale(1.05);
}

.middle__tag {
    padding: 8px 0 1rem 0;
}

.tag--attribute {
    width: 5.5rem;
    padding: .4375rem .9375rem;
    font-size: .875rem;
    font-weight: 900;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--navbar-mobile-bg-color);
}

.middle__text {
    font-size: .875rem;
    margin-bottom: 4.375rem;
}

.card__bottom {
    border-top: solid 1px var(--white);
    width: 100%;

}

.bottom__logos {
    margin: .5625rem 0;
    font-size: 1.75rem;
    gap: 3.75rem;
}

.projects__link {
    margin: 0 2rem;
    margin-bottom: 4.375rem;
    cursor: pointer;
}

.link__btn {
    padding: .8125rem 1.5rem;
    font-weight: 300;
    color: var(--darkest-blue);
    text-decoration: none;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--send-btn-shadow);
    transition: .4s;     
}

.link__btn:hover {
    transform: scale(1.05);  
    background-color: var(--btn-hover-effect);
}

/* 
CONTACT PAGE
*/
.contact {
    height: 75vh;
}

.contact__title {
    margin: 2.5rem 0 4.375rem 0;   
}

.contact__title:hover {
    transform: scale(1);
}

.contact__text {
    margin-bottom: 4.375rem;
    padding: 0 2.1875rem;
    text-align: center;
    font-size: .9375rem;
    max-width: 420px;
}

.contact__btn {
    margin: 0;
    padding: 0 20px;
    max-width: 200px;
    height: 40px;
    background: var(--white);
    color: var(--darkest-blue);
    box-shadow: var(--send-btn-shadow);
    border-radius: 5px;
    text-align: center;
    transition: .5s;
}

.contact__btn:hover {
    transform: scale(1.05);
    background-color: var(--btn-hover-effect);
}